---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
/* console.log(projects); */
const projectsOrdenados = projects.sort(
    (a: any, b: any) => a.data.orden - b.data.orden,
);
---

<section class="proyectos" id="proyectos">
    <div class="div3">
        <h3><strong>Proyectos</strong></h3>
        <div class="container_proyectos">
            {
                projectsOrdenados.map((projects: any) => {
                    const { data, slug } = projects;
                    const { titulo, enlaces, descripcion, img, tecnologias } =
                        data;

                    return (
                        <article class="card">
                            <div>
                                <a href={`/proyectos/${slug}`}>
                                    <img
                                        transition:name={`img-${slug}`}
                                        class="imagen"
                                        src={img}
                                        alt="wosubb"
                                    />
                                </a>
                            </div>
                            <section class="container_description">
                                <div class="header">
                                    <h4>{titulo}</h4>

                                    <div
                                        id={slug}
                                        class="social-btn flex-center"
                                    >
                                        <a
                                            href={`/proyectos/${slug}`}
                                            class="vermas"
                                        >
                                            <p class="pIcon">Ver más</p>
                                        </a>

                                        <img
                                            width="30"
                                            height="30"
                                            src="https://img.icons8.com/windows/32/ffffff/more.png"
                                            alt="more"
                                            class="more"
                                        />
                                    </div>

                                    {/* {enlaces.texto?.map(
                                        (enlace: string, index: number) => {
                                            const icono = enlaces.iconos
                                                ? enlaces.iconos[index]
                                                : null;
                                            return icono ? (
                                                <a
                                                    href={enlace}
                                                    target="_blank"
                                                    rel="noreferrer"
                                                >
                                                    <img
                                                        width="30"
                                                        height="30"
                                                        src={icono}
                                                        alt={enlace}
                                                    />
                                                </a>
                                            ) : null;
                                        },
                                    )} */}
                                </div>
                                <div class="descripcion">
                                    <p>{descripcion}</p>
                                </div>
                                <div class="footer">
                                    {tecnologias.texto?.map(
                                        (nombre: string, index: number) => {
                                            const icono = tecnologias.iconos
                                                ? tecnologias.iconos[index]
                                                : null;
                                            return icono ? (
                                                <div
                                                    id={nombre}
                                                    class="social-btn flex-center"
                                                >
                                                    <img
                                                        width="24"
                                                        height="24"
                                                        src={`src/assets/icons/${icono}`}
                                                        alt={nombre}
                                                    />
                                                    <span>{nombre}</span>
                                                </div>
                                            ) : null;
                                        },
                                    )}
                                </div>
                            </section>
                        </article>
                    );
                })
            }
        </div>
    </div>
</section>
<style>
    .proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 8px; */
        background: rgba(34, 33, 50, 1);
    }
    .div3 {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 5%;
        /*         margin-top: 22px; */
    }
    .container_proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        justify-items: center;
    }

    @keyframes showLeft {
        from {
            opacity: 0;
            transform: translateX(
                -20%
            ); /* Empieza fuera de la pantalla hacia la izquierda */
        }

        to {
            opacity: 1;
            transform: translateX(0); /* Se mueve a su posición original */
        }
    }

    .vermas {
        text-decoration: none;
    }

    .card {
        background: rgba(19, 21, 26, 0.5);
        backdrop-filter: blur(20px) saturate(180%);
        padding-bottom: 3%;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(175, 174, 174, 0.1);
        display: flex;
        flex-direction: column;
        min-height: 300px;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .card {
        view-timeline-name: --tarjeta;
        view-timeline-axis: block;

        animation-timeline: --tarjeta;
        animation-name: showLeft;
        animation-range: entry 40% cover 45%;
        /* animation-range: entry 0% cover 20%; */
        animation-fill-mode: both;
    }

    .card:hover {
        /* transform: scale(1.01); */
        box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.5);
    }

    .imagen {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgba(19, 21, 26, 0.4);
        aspect-ratio: 3.5 / 2;
        object-fit: scale-down;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .imagen:hover {
        transform: scale(0.98);
        box-shadow: 0px 0px 10px rgba(19, 21, 26, 1);
        /* box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.2); */
    }

    .container_description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .descripcion {
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer {
        display: flex;
        justify-content: end;
        gap: 1rem;
        margin-right: 5%;
        margin-top: auto;
    }

    .flex-center {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin-left: -10px; */
    }

    .social-btn {
        cursor: pointer;
        /* 
        width: 50px; */
        height: 30px;
        /* font-family: "Titillium Web", sans-serif; */
        color: #d9d9d9;

        /* padding-left: 3px;
        padding-right: 3px; */
        /* margin: 5px; */
        /* transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1); */
        transition: 1s;
    }

    .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
        /* transition: 0.3s; */

        text-align: center;
        /* margin-left: 1px; */
    }

    .social-btn .pIcon {
        width: 0px;
        overflow: hidden;
        transition: 0.3s;
        text-align: center;
        color: #d9d9d9;
        font-size: 0;
        /* margin-left: 5px; */
    }

    .social-btn:hover .pIcon {
        /* transition: 0.3s; */
        padding: 2px;
        width: 80px;
        font-size: 0.9rem;
        /* margin-left: 5px; */
    }

    .social-btn:hover {
        /*  padding-left: 10px; */
        /*         background-color: rgba(34, 33, 50, 0.7); 
        border-radius: 5rem;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
        /* padding-right: 3px; */
    }

    .social-btn:hover .more {
        transform: rotate(90deg);
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .social-btn:hover span {
        padding: 2px;
        width: 80px;
    }

    @media (max-width: 1280px) {
        .container_proyectos {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        .proyectos {
            margin-top: -5%;
        }
    }
    @media (max-width: 1024px) {
        @keyframes show {
            from {
                opacity: 0;
                scale: 50%;
            }

            to {
                opacity: 1;
                scale: 100%;
            }
        }
        .card {
            view-timeline-name: --tarjeta;
            view-timeline-axis: block;

            animation-timeline: --tarjeta;
            animation-name: show;
            animation-range: entry 40% cover 45%;
            animation-fill-mode: both;
        }

        .container_proyectos {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media (max-width: 560px) {
        .div3 {
            width: 85%;
        }
    }
</style>
