---
import { getCollection, render } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Carousel from "../../components/react_components/Carousel";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project: any) => ({
        params: {
            id: project.slug,
        },
        props: { project },
    }));
}

const { project } = Astro.props;
const { data, slug } = project;
const { titulo, enlaces, descripcion, img, imgs, tecnologias } = data;

const { Content } = await render(project);
const images = imgs ? imgs.map((img: string) => img) : [];
---

<ProjectLayout title={`${titulo} - proyectos`}>
    <div>
        <div class="container">
            <aside class="containerImagen">
                <img
                    transition:name={`img-${slug}`}
                    class="imagen"
                    src={`../${img}`}
                    alt={titulo}
                />
                <div class="social-links">
                    {
                        tecnologias.texto?.map(
                            (nombre: string, index: number) => {
                                
                                const icono = tecnologias.iconos
                                    ? tecnologias.iconos[index]
                                    : null;
                                return icono ? (
                                    <div
                                        id={nombre}
                                        class="social-btn flex-center"
                                    >
                                        <>
                                            <img
                                                width="24"
                                                height="24"
                                                src={`../src/assets/icons/${icono}`}
                                                alt={nombre}
                                            />
                                            <span>{nombre}</span>
                                        </>
                                    </div>
                                ) : null;
                            },
                        )
                    }
                </div>
            </aside>

            <main class="containerContent">
                <div class="containerTitle">
                    <h1>{titulo}</h1>
                    <div class="anexos">
                        {
                            enlaces.texto?.map(
                                (nombre: string, index: number) => {
                                    const icono = enlaces.iconos
                                        ? enlaces.iconos[index]
                                        : null;
                                    return icono ? (
                                        <div
                                            id={nombre}
                                            class="social-btn flex-center"
                                        >
                                            <>
                                                <img
                                                    width="24"
                                                    height="24"
                                                    src={icono}
                                                    alt={nombre}
                                                />
                                                <span>{nombre}</span>
                                            </>
                                        </div>
                                    ) : null;
                                },
                            )
                        }
                    </div>
                </div>
                <div class="content-wrapper">
                    <Content />
                </div>
            </main>
        </div>
        <div class="carrousel">
            {
                images && images.length > 0 ? (
                    <>
                        <h1>Algunas imágenes del proyecto</h1>
                        <Carousel images={images} client:load />
                    </>
                ) : null
            }
        </div>
    </div>

    <style>
        .container {
            display: flex;
            justify-content: center;
            padding: 1rem;
            margin-right: 1rem;
            border-radius: 8px;
            background-color: rgba(19, 21, 26, 0.4);
        }
        .containerTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .containerImagen {
            display: flex;
            width: 400px;
            flex-direction: column;
            margin-left: -50px;
            float: left; /* Allow content to wrap around */
            margin-right: 20px; /* Add space between image and content */
        }
        .imagen {
            width: 100%;
            mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
        }
        .containerContent {
            display: flex;
            flex-direction: column;
            width: 600px;
            margin-left: 65px;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .content-wrapper :global(p) {
            text-align: justify;
            margin-bottom: 1rem;
        }

        .social-links,
        .flex-center {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: -10px;
        }

        .anexos {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .social-btn {
            cursor: pointer;
            height: 50px;
            width: 50px;
            font-family: "Titillium Web", sans-serif;
            color: #d9d9d9;
            background-color: rgba(34, 33, 50, 0.7);
            border-radius: 5rem;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            margin: 5px;
            transition: 0.3s;
            justify-content: center;
        }

        .social-btn span {
            width: 0px;
            overflow: hidden;
            transition: 0.3s;
            text-align: center;
            margin-left: 2px;
        }

        .social-btn:hover {
            width: 150px;
        }

        .social-btn:hover span {
            padding: 2px;
            width: 80px;
        }

        .carrousel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 6%;
        }

        @media (max-width: 800px) {
            .container {
                flex-direction: column;
                align-items: center;
            }
            .containerImagen {
                width: 95%;
                margin-left: 0;
                float: none;
                margin-right: 0;
            }

            .containerContent {
                width: 95%;
                margin-left: 15px;
            }

            .carrousel {
                margin-left: 3%;
                margin-right: 3%;
            }
        }
        @media (max-width: 500px) {
            .containerTitle {
                flex-direction: column;
                justify-content: flex-start;
            }
        }
    </style>
</ProjectLayout>
